:root{
    --bg_green: #daffed;
    --primary_green: #004d29;
    --secondary_green: #69f0ae;
    --header_font: 'Sen', sans-serif;
    --text_font:  'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5{
    font-family: var(--header_font);
}

a,
input,
button,
span,
p,
textarea{
    font-family: var(--text_font);
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.section_padding{
    padding-right: 5em;
    padding-left: 5em;
}

.default_btn{
    padding: 0.6em 1.5em;
    background: var(--primary_green);
    font-size: 20px;
    color: #f5f5f5;
    transition: all 0.3s ease;
    border: 0;
    box-shadow: 10px 7px 0px 0px rgb(86, 137, 125, 0.5);
}

.default_btn:hover{
    box-shadow: 0px 0px 0px 0px;
    color: #f5f5f5;
}

.green_text{
    color: var(--primary_green) !important;
}

.fixed_nav{
    position: fixed;
    background: #fff;
    z-index: 9999;
    width: 100%;
    box-shadow: 6px 2px 12px 7px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
}

.fixed_nav .nav_link_holder .nav_link a{
    color: var(--primary_green);
}

/*navigation*/
nav{
    padding: 1em;
}

.nav_link_holder{
    display: flex;
    justify-content: center;
}

.nav_link_holder .nav_link{
    padding: 0 0.7em;
}

.nav_link_holder .nav_link a{
    color: #f5f5f5;
    font-size: 18px;
}

/*hero*/
.hero{
    min-height: 90vh;
    background: url("../assets/images/signup_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_text_holder{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

.hero_text{
    color: #f5f5f5;
    text-align: center;
}

.hero_text h1{
    font-size: 60px;
}

.hero_text p{
    font-size: 20px;
}

/**about section***/
.about_text_holder{
    padding: 0 1.2em;
    text-align: center;
}


/**signup**/
.signup{
    background: url('../assets/images/signup_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh; 

}

.signup_card_holder{
    display: flex;
    align-items: center;
    height: 100vh;
}

.signup_card{
    width: 90%;
    margin: 0 auto;
    background: #f5f5f5;
    min-height: 70vh;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
}

.form_holder{
    padding: 1em 1.5em;
}

.form_element input{
    border: none;
    background: transparent;
    padding: 0.6em  1em;
    width: 90%;
    border-bottom: 2px solid #daffda;
    outline: none;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}

.signup_text_holder{
    display: flex;
    align-items: center;
    height: 80vh;
}

.signup_text_holder h1{
    color: #f5f5f5;
    font-size: 50px;
    text-align: justify;
}

.login_link{
    text-align: center;
}

.nav-link {
    color: black;
    font-weight: bold;
}

.jumbo-cover {
    background: #daffed;
}

.jumbo-cover>.jumbotron {
    font-weight: bold;
    background: #daffed;
}

.landing {
    min-height: 65vh;
}

.btn-success {
    border: 1px solid rgb(3, 77, 3);
    background: #004d29;
    color: #fff;
}

.btn-action {
    position: relative;
    height: 52px;
    width: 214px;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    border-radius: 4px;
}

.btn-login {
    color: rgb(187, 123, 3);
    background: rgb(248, 211, 143);
    font-weight: bold;
}

.btn-signup {
    color: white;
    font-weight: bold;
}

.how-it-works {
    background: rgb(240, 255, 248);
}

.how-it-works>.jumbotron {
    background: rgb(240, 255, 248);
}

.how-list {
    color: green;
    list-style: none;
}

.how-list>li {
    font-size: 20px;
    line-height: 50px;
}

.p-why {
    font-size: 19px;
    font-family: "Varela Round";
    line-height: 40px;
}

.why-card {
    margin-right: 40px;
    background-color: #fff;
    width: 70.5%;
    border-radius: 4px;
    border: none;
    box-shadow: 0 2px 70px -10px rgba(0, 0, 0, .2);
    overflow: hidden;
    padding-bottom: 5%;
}

.card-text {
    font-family: "Varela Round";
    width: 60%;
}

.cart>img {
    width: 100%;
    height: 100%;
}


.register-header {
    font-weight: bold;
    font-size: 30px;
    color: rgb(13, 59, 13);
    text-transform: uppercase
}

@media screen and (max-width: 996px){
    .section_padding{
        padding-right: 2em;
        padding-left: 2em;
    }
}