:root {
    --bg_green: #daffed;
    --primary_green: #004d29;
    --secondary_green: #69f0ae;
    --header_font: 'Sen', sans-serif;
    --text_font: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--header_font);
}

a,
input,
button,
span,
p,
textarea {
    font-family: var(--text_font);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.section_padding {
    padding-right: 5em;
    padding-left: 5em;
}

.v_align{
    text-align: center;
}

.default_btn {
    padding: 0.6em 1.5em;
    background: var(--primary_green);
    font-size: 20px;
    color: #f5f5f5;
    transition: all 0.3s ease;
    border: 0;
    box-shadow: 10px 7px 0px 0px rgb(86, 137, 125, 0.5);
}

.default_btn:hover {
    box-shadow: 0px 0px 0px 0px;
    color: #f5f5f5;
}

.green_text {
    color: var(--primary_green) !important;
}

.fixed_nav {
    position: fixed;
    background: #fff;
    z-index: 9999;
    width: 100%;
    box-shadow: 6px 2px 12px 7px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
}

.fixed_nav .nav_link_holder .nav_link a {
    color: var(--primary_green);
}

.top{
    position: fixed;
    right: 30px;
    bottom: 50px;
    background-color: var(--primary_green);
    padding: 1em;
    opacity: 0;
    transition: all 0.5s ease-in;
}

.top i{
    color: #fff;
    font-size: 25px;
}

.show{
    opacity: 1 !important;
}

/*navigation*/
nav {
    padding: 1em;
}

.nav_link_holder {
    display: flex;
    justify-content: center;
}

.nav_link_holder .nav_link {
    padding: 0 0.7em;
}

.nav_link_holder .nav_link a {
    color: #f5f5f5;
    font-size: 18px;
}

/*hero*/
.hero {
    min-height: 90vh;
    background: url("../assets/images/signup_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_text_holder {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

.hero_text {
    color: #f5f5f5;
    text-align: center;
}

.hero_text h1 {
    font-size: 60px;
}

.hero_text p {
    font-size: 20px;
}

/**about section***/
.about_text_holder {
    padding: 0 1.2em;
    text-align: center;
}

.services{
    background-color: var(--bg_green);
}

.services_content_holder{
    padding: 0 1em;
}

.service_icon{
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--primary_green);
    padding: 1em; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.service_icon i{
    font-size: 30px;
    color: #f5f5f5;
}

/**price list**/
.price_text_holder{
    padding: 2em;
}

.price_element{
    display: flex;
    width: 100%;
}

.price_element hr{
    border-top: 1px dashed var(--primary_green);
    width: 70%;
    margin-top: 10px;
}

.price_element span{
    color: var(--primary_green);
}

.price_img_holder{
    padding: 1em;
}

/***how it works***/
.how_card{
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
    padding: 0 0.5em;
}

.how_card:hover .num_holder{
    background-color: var(--primary_green);
}

.how_card:hover .num_holder span{
    color: #f5f5f5;
}

.how_card_content{
    padding: 1em;
}

.num_holder{
    margin: 0 auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid var(--primary_green);
    padding: 1em; 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.num_holder span{
    color: var(--primary_green);
    font-size: 25px;
}



/***cta**/
.contact{
   background-color: var(--bg_green);
}

.contact .form_element input{
    border-bottom: 2px solid var(--primary_green);
}

.contact .form_element textarea{
    border: 2px solid var(--primary_green);
    min-height: 35vh;
}


/**signup**/
.signup {
    background: url('../assets/images/signup_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

}

.signup_card_holder {
    display: flex;
    align-items: center;
    height: 100vh;
}

.signup_card {
    width: 90%;
    margin: 0 auto;
    background: #f5f5f5;
    min-height: 70vh;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
}

.form_holder {
    padding: 1em 1.5em;
}

.form_element input,
.form_element textarea {
    border: none;
    background: transparent;
    padding: 0.6em 1em;
    width: 90%;
    border-bottom: 2px solid #daffda;
    outline: none;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}

.signup_text_holder {
    display: flex;
    align-items: center;
    height: 80vh;
}

.signup_text_holder h1 {
    color: #f5f5f5;
    font-size: 50px;
    text-align: justify;
}

.login_link {
    text-align: center;
}

@media screen and (max-width: 996px) {
    .section_padding {
        padding-right: 2em;
        padding-left: 2em;
    }

    .nav_link_holder {
        display: none;
    }

    .default_btn {
        font-size: 18px;
    }

    .hero_text h1 {
        font-size: 50px;
    }

    .hero_text p {
        font-size: 18px;
    }

    .section_head{
        text-align: center;
    }


    .about_text_holder{
        padding: 0;
        text-align: left;
        margin-top: 20px;
    }

    .about_text_holder h3{
        font-size: 25px;
    }
}