:root {
    --bg_green: #daffed;
    --primary_green: #004d29;
    --dark_bg: #353535;
    --header_font: 'Roboto Mono', monospace;
    --text_font: 'Nunito', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--header_font);
}

a,
input,
button,
span,
p,
textarea {
    font-family: var(--text_font);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.section_padding {
    padding-right: 5em;
    padding-left: 5em;
}

.v_align {
    text-align: center;
}

.default_btn {
    padding: 0.6em 1.5em;
    background: darkslategray;
    font-size: 20px;
    color: #f5f5f5;
    transition: all 0.3s ease;
    border: 0;
    box-shadow: 6px 2px 12px 7px rgba(0, 0, 0, 0.3);
}

.default_btn:hover {
    box-shadow: 0px 0px 0px 0px;
    color: #f5f5f5;
}

.green_text {
    color: var(--primary_green) !important;
}

.fixed_nav {
    position: fixed;
    background: var(--dark_bg);
    z-index: 9999;
    width: 100%;
    box-shadow: 6px 2px 12px 7px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
}

.fixed_nav .nav_link_holder .nav_link a {
    color: var(--bg_green);
}

.top {
    position: fixed;
    right: 30px;
    bottom: 50px;
    background-color: var(--dark_bg);
    padding: 1em;
    opacity: 0;
    z-index: 999;
    transition: all 0.5s ease-in;
}

.top i {
    color: var(--bg_green);
    font-size: 25px;
}

.show {
    opacity: 1;
}

.slide{
    width: 100% !important;
}

.logo{
    display: none;
    
}

/*navigation*/
nav {
    padding: 1em;
    background: var(--dark_bg);
}

.nav_link_holder {
    display: flex;
    justify-content: center;
}

.nav_link_holder .nav_link {
    padding: 0 0.7em;
}

.nav_link_holder .nav_link a {
    color: var(--bg_green);
    font-size: 18px;
}

/***mobile navigation**/
.mobile_nav{
    width: 0%;
    position: fixed;
    height: 60vh;
    top: 3.8em;
    background-color: var(--dark_bg);
    overflow-x: hidden;
    z-index: 99999;
    transition: all 0.4s ease-in;
}


.mobile_nav_content a{
    padding: 10px;
    text-decoration: none;
    display: block;
    color: var(--bg_green);
}

.nav_inner{
    text-align: left;
}

.nav_inner ul{
    padding: 2em 0.5em;
}


.nav_inner ul li{
    border-top: 1px solid var(--primary_green);
    width: 100%;
    list-style: none;
   
}


.open_btn{
    float: right;
    font-size: 20px;
    display: none;
    cursor: pointer;
    color: var(--primary_green);
    position: relative;
}

.close_btn{
    color: red ! important;
}


/*hero*/
.hero {
    min-height: 90vh;
}

.hero_page_bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
}

.hero_page_bg{
    background-image: url("../assets/images/cta.png");
}

.alt_bg{
    background-image: url("../assets/images/hero_bg.png");
}


.hero_page_inner{
    display: flex;
    align-items: center;
    min-height: 60vh;
}

.hero_page_inner h1{
    font-family: 'Monoton', cursive !important;
    font-size: 60px;
    color: var(--bg_green);
}

.hero_page_inner p{
    color: #fff;
    font-size: 23px;
}

.hero_text_holder {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

.hero_text {
    color: #f5f5f5;
    text-align: center;
}

.hero_text h1 {
    font-size: 60px;
}

.hero_text p {
    font-size: 20px;
}

.hero_fade{
    animation-delay: 0.7s;
}

.fa-star{
    color: gold;
}

/**about section***/
.about_text_holder {
    padding: 0 1.2em;
    text-align: left;
    display: flex;
    align-items: center;
    min-height: 50vh;
}

.carousel_holder{
    padding: 1.5em;
}

/*how it works*/
.how{
    background-color: var(--bg_green);
     
}

.service_card_content {
    padding:1.3em;
}

.service_card {
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}


.service_icon {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--primary_green);
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service_icon i {
    font-size: 30px;
    color: #f5f5f5;
}

/**price list**/
.price_card{
    background: url("../assets/images/bg_1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh;
    margin: 1em 1.5em;
    border-radius: 20px;
}

.price_card_content{
    color: var(--bg_green);
    padding: 1em;
}

.price_card_content h1{
    font-size: 40px;
}

.price_details{
    display: flex;
    font-size: 20px;
}

.price_text_holder {
    padding: 2em;
}

.price_element {
    display: flex;
    width: 100%;
}

.price_element hr {
    border-top: 1px dashed var(--primary_green);
    width: 70%;
    margin-top: 10px;
}

.price_element span {
    color: var(--primary_green);
}

.price_img_holder {
    padding: 1em;
}


/**barber reatings**/
.barber_text_holder{
    min-height: 60vh;
}

.barber_img_holder{
    width: 200px;
    margin: 0 auto;

}

.testimonial_content{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 0 0.3em;
}

/***how it works***/

.how_card_content {
    padding: 1em;
}

.num_holder {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--primary_green);
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.num_holder span {
    color: #f5f5f5;
    font-size: 35px;
}


.counter_holder {
    min-height: 30vh;
}

.counter_item h1 {
    font-size: 50px;
}

/***cta & contact**/
.cta,
.cta_alt{
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta_alt,
.cta{
    background: url("../assets/images/cta.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cta_alt_inner,
.cta_inner{
    color: #f5f5f5;
}

.testimonial,
.contact{
    background: #d3d3d3;
}

.footer_newsletter .form_element input{
    border: 2px solid var(--primary_green);
}

.contact .form_element input,
.contact .form_element textarea{
    background: var(--bg_green);
    border-radius: 30px;
}

.contact .form_element textarea {
    height: 35vh;
}

/**footer***/
footer{
    background-color: var(--dark_bg);
    color: #f5f5f5;
}

.footer_social{
    padding: 0 10px;
}

.socials_holder{
    display: flex;
}

.social_item{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    padding: 1em;
    display: flex;
    border: 1px solid var(--bg_green);
    align-items: center;
}

.social_item i{
    color: var(--bg_green);
    font-size: 20px;
}

.footer_newsletter .default_btn{
    font-size: 14px;
}


/**signup**/
.signup {
    background: url('../assets/images/signup_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

}

.signup_card_holder {
    display: flex;
    align-items: center;
    height: 100vh;
}

.signup_card {
    width: 90%;
    margin: 0 auto;
    background: #f5f5f5;
    min-height: 70vh;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
}

.form_holder {
    padding: 1em 1.5em;
}

.form_element input,
.form_element textarea {
    border: none;
    background: transparent;
    padding: 0.6em 1em;
    width: 90%;
    border-bottom: 2px solid #daffda;
    outline: none;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}

.signup_text_holder {
    display: flex;
    align-items: center;
    height: 80vh;
}

.signup_text_holder h1 {
    color: #f5f5f5;
    font-size: 50px;
    text-align: justify;
}

.login_link {
    text-align: center;
}

@media screen and (max-width: 760px){
    .reverse-column-order {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		flex-direction: column-reverse;
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
    }
    
    .price_card{
        margin: 0.5em;
    }
}

@media screen and (max-width: 996px) {
    .section_padding {
        padding-right: 2em;
        padding-left: 2em;
    }

  

    .nav_link_holder {
        display: none;
    }

    nav{
        min-height: 3.8em;
        padding-bottom: 20px;
    }

    .logo{
        display: block;
        float: left;
        font-size: 18px;
    }

    .logo a,
    .open_btn{
        color: var(--bg_green);
    }

    .default_btn {
        font-size: 18px;
    }

    .hero_page_inner h1 {
        font-size: 40px;
    }

    .hero_text p {
        font-size: 18px;
    }

    .section_head {
        text-align: center;
    }

    .open_btn{
        display: block;
    }

    .carousel_holder{
        padding: 0;
    }

    .about_text_holder {
        padding: 0;
        text-align: left;
        margin-top: 20px;
    }

    .about_text_holder h3 {
        font-size: 25px;
    }

    .services_content_holder {
        margin-top: 2em;
        padding: 0;
    }

    .top{
        padding: 0.7em;
    }

    .how_card_holder {
        padding: 0;
    }

    .how_card{
        margin-top: 1.5em;
    }

    .barber_img_holder{
        width: 100%;
        margin: 0;
    }

    .barber_img_holder img{
       width: 100%;
    }
    
    .barber_text_holder{
        margin-top: 35px;
    }

  
    

    .price_text_holder{
        padding: 0;
    }

    .price_element h4{
        font-size: 20px;
    }

    .counter_item{
        margin-top: 2em;
    }

    .counter_item h1 {
        font-size: 50px;
    }

    .cta_inner h3{
        font-size: 25px;
    }

    .testimonial_content{
        width: 100%;
    }

    .form_element textarea,
    .service_card {
        margin-top: 1em;
    }

}